services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: newsagg
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123456
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  
  backend:
    build: ./backend
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql://user:123456@db:5432/newsagg
      REDIS_URL: redis://redis:6379/0
      OLLAMA_HOST: http://host.docker.internal:11434
    ports:
      - "8000:8000"
      - "8501:8501"
    volumes:
      - ./data:/app/data
  
  celery-worker:
    build: ./backend
    command: celery -A app.celery_app worker --loglevel=info --pool=solo
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql://user:123456@db:5432/newsagg
      REDIS_URL: redis://redis:6379/0
      OLLAMA_HOST: http://host.docker.internal:11434
    volumes:
      - ./data:/app/data

  celery-beat:
    build: ./backend
    command: celery -A app.celery_app beat --loglevel=info --schedule=/tmp/celerybeat-schedule
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - ./data:/app/data

  streamlit:
    build: ./backend
    command: streamlit run app/ui.py --server.port=8501 --server.address=0.0.0.0
    environment:
      - PYTHONPATH=/app
    ports:
      - "8502:8501"
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - ./data:/app/data

volumes:
  postgres_data: